html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D5ECC2;
}

header {
    height: 10%;
    margin: 0;
  }

  header h1 {
    margin: 0;
    padding: 10px;
    color: black;
  }

footer {
    height: 2%;
    float: right;
}

footer a {
    margin-right: 5px;
    margin-left: 2px;
}

#content {
    height: 88%;
    
    display: flex;
}

#content-bar {
    background-color: #FFD3B4;  /* DEBUG */
    width: 40%;
    height: 100%;
}

#navigation {
    height: 5%;
    display: flex;
}

.nav-item, .nav-selected {
    z-index: 10;
    padding: 5px;
    background-color: #FFAAA7;  /* DEBUG */
    width: 25%;
    text-align: center;
    user-select: none;
}

.nav-item:hover, .nav-selected, .content-highligted {
    background-color: #d16e6b; /* DEBUG */
    box-shadow: 0px 0px 0px 5px #d16e6b;
}

#content-items {
    max-height: 95%;
    overflow-y: auto;
}

.content-hidden, .content-shown {
    padding: 5px 0 0 5px;
}

.content-hidden {
    display: none;
}

.content-shown {
    display: block;
}

#map {
    z-index: 9;
    width: 70%;
    height: 100%;
}

.filter {
    padding: 10px;
    text-align: center;
}

.filter-field {
    border-radius: 10px;
}

.contenido {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    max-width: 500px; /* set the maximum width to 500 pixels */
    margin: 0 auto; /* center the element horizontally */
    margin-bottom: 10px;
    border-radius: 10px
}

.contenido img {
    max-width: 100%;
    height: auto;
}

.popup {
    text-align: center;
}

#cotizacion {
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#info-cotizacion {
    display: inline;
    padding: 5px;
    text-align: center;
    background-color: #D5ECC2;
    border-radius: 10px;
}


